/* Reset general */
* {
    list-style: none;
}

/* Estilos generales */
body {
    background-color: #F2F2F2;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    background-color: #F2F2F2;
}

/* NAV */
nav {
    background-color: #F2F2F2;
    z-index: 1000;
    /* Establece un valor alto para la propiedad z-index */
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #000000 solid 1px;
    text-transform: uppercase;
    padding: 10px 20px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .navbar-brand img {
        width: 150px;
        height: auto;
    }
}

/* FIN DEL NAV */


/* Contenido principal */
.todo {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.a {
    text-align: center;
    margin: 20px;
}

@media screen and (min-width: 768px) {
    .iframeT {
        width: 800px;
        height: 500px;
    }
}

@media screen and (max-width: 767px) {
    .iframeT {
        width: 100%;
        /* Ocupa el 100% del ancho en pantallas más pequeñas */
        height: 300px;
        /* Altura automática para mantener la proporción */
    }
}

embed-responsive-16by9 {
    max-width: 800px;
    /* Ajusta según tus preferencias */
    margin: 0 auto;
    /* Centra el contenedor */
}


/* Pie de página */
footer div ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

footer div ul li {
    padding: 10px;
}

.pieDePagina {
    margin-bottom: 20px;
    font-size: 15px;
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border-top: #000000 solid 1px;
    padding-top: 30px;
    margin-top: 30px;
}

.redesSociales {
    margin: 0 10px;
}

.redesSociales img {
    width: 30px;
    height: 30px;
}

/* Biografía */
.biografia {
    margin-bottom: 50px;
}

.imgBiografia {
    height: 250px;
    width: 250px;
}

h2,
h3 {
    font-family: "Druk Web", sans-serif;
    margin: 30px;
}

.h3Cent {
    text-align: center;
}

p,
.datosPersonales,
ul li {
    font-size: auto;
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
    margin: 5px 0px;
}

/* Discografía */
.loreDiscografia {
    margin-bottom: 50px;
}

/* Tour */
.tour {
    margin: 50px;
}

.h1TitutloTour {
    margin-bottom: 200px;
}

/* Contacto */
form {
    display: grid;
    gap: 20px;
    text-align: center;
    width: 60%;
    max-width: 500px;
    margin: auto;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px;
}

label,
input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 50%;
    margin: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* fin de contacto */