/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Estilos generales */
body {
    background-color: #F2F2F2;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: #000000 solid 1px;
}

.list {
    display: inline-block;
    padding: 20px;
}

.busqueda a, .logo a {
    font-family: "Druk Web", sans-serif;
    text-decoration: none;
    color: #000000;
}

.busqueda {
    text-align: right;
    font-size: 20px;
}

/* Galería de fotos */
.imgG {
    font-family: "Druk Web", sans-serif;
    color: #000000;
    margin: 50px;
    font-size: 50px;
    text-align: center;
}

.img {
    height: 300px;
    margin: 20px;
    padding: 20px;
}

.theweekndPosando {
    margin-right: 100px;
}

/* Contenido principal */
main {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.mainImagenInicio {
    background-image: url(../img/galeria/img2.jpg);
    background-size: cover;
    padding: 100px;
}

.historia {
    margin-bottom: 40px;
    font-family: "Druk Web", sans-serif;
    color: floralwhite;
    font-size: 50px;
}

.videoHistoria {
    margin: 40px;
}

/* Pie de página */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-top: #000000 solid 1px;
}

.pieDePagina {
    margin-bottom: 20px;
    font-size: 15px;
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.redesSociales {
    margin: 0 10px;
}

.redesSociales img {
    width: 30px;
    height: 30px;
}

/* Biografía */
.biografia {
    margin-bottom: 50px;
}

.imgBiografia {
    height: 250px;
    width: 250px;
}

h2, h3 {
    font-family: "Druk Web", sans-serif;
    margin: 30px;
}

.h3Cent {
    text-align: center;
}

p, .datosPersonales, div ul li {
    font-size: 15px;
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
    margin: 5px 0px;
}


/* Discografía */
.loreDiscografia {
    margin-bottom: 50px;
}

/* Tour */
.tour {
    margin: 50px;
}

.h1TitutloTour {
    margin-bottom: 200px;
}

/* Contacto */
form {
    display: grid;
    gap: 20px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
