.main {
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;

        .bioContainer {
            display: flex;
            flex-direction: column;

            .image-and-details {
                flex: 1;
                margin-right: 20px;

                .details,
                .details-right {
                    width: 100%;
                }

                @media only screen and (max-width: 768px) {
                    .image-and-details {
                        flex-direction: column;
                        margin-right: 0;
                    }

                    .details,
                    .details-right {
                        width: 100%;
                        margin-left: 0;
                    }
                }
            }

            .details {
                flex: 1;
                margin-left: 20px;

                section {
                    p.full-screen-text {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

// Pantalla grande: Estilos para la imagen bio
@media only screen and (min-width: 768px) {
    .img-fluid.mb-4 {
        width: 40%;
    }
}

.full-screen-text {
    font-size: 1.2rem;
}

.h2Tamaño {
    font-size: 1.3rem;
}
