.todo {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.a {
    text-align: center;
    margin: 20px;
}

@media screen and (min-width: 768px) {
    .iframeT {
        width: 800px;
        height: 500px;
    }
}

@media screen and (max-width: 768px) {
    .iframeT {
        width: 100%;
        height: 300px;
    }
}

.embed-responsive-16by9 {
    max-width: 800px;
    margin: 0 auto;
}
