.main {
    .container {
        margin-top: 5rem;

        h1 {
            margin-bottom: 5rem;
        }

        .contacto {
            display: flex;
            flex-wrap: wrap;

            .mb-3 {
                width: 50%;
            }

            .w-100 {
                width: 100%;
            }

            .form-label {
                display: block;
                margin-bottom: 0.5rem;
            }

            .form-control {
                width: 100%;
            }

            textarea {
                resize: vertical;
            }

            .justify-content-center {
                display: flex;
                justify-content: center;
            }

            button {
                width: 25%;
            }
        }
    }

    .datosPersonales {
        margin-top: 1.5rem;
        border: 1px solid black;
        padding: 2rem;
    }
}
