.main {
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;

        .contacto {
            .form-label {
                margin-bottom: 0.5rem;
            }

            .btn-primary {
                width: 50%;
            }

            @media only screen and (max-width: 767px) {
                .form-label {
                    font-size: 0.9rem;
                }

                .btn-primary {
                    width: 100%;
                }
            }
        }
    }
}
