$color-negro: #000000;
$color-blanco: #ffffff;
$color-hover: #333333;
$border-color: #ccc;
$shine-opacity: 0.8;
$color-blancoGeneral: #f2f2f2;
$color-borde: #000000;
$altura-subrayado: 1px;
$color-subrayado: #0088cc;
